<nav class="sticky top-0 bg-black shadow-grey shadow-2xl">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/articles" class="flex items-center">
            <img src="https://i.ibb.co/2PL1zgs/logo.png" class="h-10 mr-3 logo"
                 alt="logo"/>
        </a>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-4 md:mt-0 md:border-0 md:bg-black dark:border-gray-700">
                <li>
                    <a href="/articles"
                       class="block bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md">Articles</a>
                </li>
                <li>
                    <a href="/users"
                       class="block bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md">Users</a>
                </li>
                <li>
                    <a href="articles/post"
                       class="block bg-purple-500 hover:bg-purple-700 text-white font-semibold py-2 px-4 rounded-md">Publish
                        Article</a>
                </li>
                <li>
                    <a href="/register"
                       class="ml-20 block bg-yellow-500 hover:bg-yellow-700 text-white font-semibold py-2 px-4 rounded-md">Log
                        In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<style>
    .logo {
        transition: transform 0.2s;
    }

    .logo:hover {
        transform: scale(1.1);
    }
</style>
