{% extends 'layout.html.twig' %}

{% block content %}

<div class="grid place-items-center mt-20 mb-20 text-center">
    <img src="https://i.ibb.co/vVQm5HN/pngwing-com.png" alt="pngwing-com">
    <p class="text-2xl mb-6">Page Not Found</p>
    <p class="text-lg">The requested page could not be found. Please check the URL or go back to the homepage.</p>
    <a href="/" class="mt-6 inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Go to Homepage</a>
</div>

{% endblock %}
